<h1>Admin login</h1>
<%= form_tag(  ) do %>
    <p><label>Login</label><br/>
      <%= text_field 'post', 'login' %></p>
    <p><label>Password</label><br/>
      <%= text_field 'post', 'page_count' %></p>
    <%= submit_tag 'Login' %>
<% end %>